<!DOCTYPE html>
<html>
  <head>
    <title>Montani</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Flash messages %>
    <% flash.each do |type, msg| %>
      <div class="alert <%= type == 'alert' ? 'alert-warning' : 'alert-info' %>">
        <%= msg %>
      </div>
    <% end %>

    <div class="container mt-3">
      <%# Header %>
      <div class="row">
        <div class="col">
          <%= link_to 'Books', root_path, class: 'home-btn btn btn-outline-secondary btn-sm' %>
        </div>
        <div class="col">
          <%= form_with url: '/isbn/search', class: 'd-flex' do %>
            <%= search_field_tag :isbn, nil, placeholder: "ISBN13 or ISBN10", minlength: 10 %>
            <%= submit_tag "Search", class: "btn btn-outline-secondary btn-sm search-btn" %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
